@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Binggrae';
    min-width: 1010px;
    height: 100%;
    font-size: 14px;
    background: #f9fcfd url("../img/background.png") no-repeat center/cover;
}
header{
    background: #fff;
}
header::before {
    content: "";
    position: absolute;
    width: 100%;
    border: 0.5px solid #eeeeee;
    top: 22px;
    left: 0;
    z-index:1;
}

header div.inner { /* 하위 선택자 */
    width: 80%;
    height: 87px;
    margin: 0 auto;
    display: flex;
    padding-top:26px;
    justify-content:space-between;
    align-content: center;
    position: relative;
}
header .inner, header .inner>* { /* > : 자식선택자를 의미, * : 모든 것들을 의미 */
/*   border: 1px solid #333; */
}

header .inner h1 {
    display: flex;
    align-items: center;
}
header .inner h1 a{
    background-image: url(../img/logo-pc.png);
    width: 142px;
    height: 35px;
    display: block;
    font-size: 0;
}
header .inner ul.gnb {
    display:flex;
    align-items: center;
    gap: 10px;
}
header .inner ul.gnb li {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
header .inner ul.gnb li a {
}
header .inner ul.enb {
    display:flex;
    align-items: center;
/*     justify-content: flex-end; */
    gap: 15px;
}
header .inner ul.enb li {

}
header .inner ul.enb li select {
    font-weight: 700;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
  
}
header .inner ul.enb li select option {
  text-align: center;
  font-weight: 300;
}
header .inner ul.enb li a {
    display: block;
    background-color: transparent;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    width: 20px;
    height: 13px;   
    font-size: 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    
}
header .inner ul.enb li a::before{
    content: "";
    height: 2px;
    width: 100%;
    background: #666;
    display: block;
}
header .inner ul.tnb{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    font-size: 12px;
    top: 0px;
}
header .inner ul.tnb li{
    
}
header .inner ul.tnb li a::after{
    content: "";
    display: inline-block;
    background: url("../img/open.svg") no-repeat center /cover;
    width: 12px;
    height: 12px;
    margin-left: 2px;
        
}
/* header .inner ul.enb li button a.hambuger-menu {
}
header .inner ul.enb li button a.hambuger-menu div {
    background: black;
    width : 28px;
    height: 2px;
    margin: 10px;
    border-radius: 5px;
} */
