header{color:red;
    div.inner{color:red;
        h1{color:red;
            a{color:red;

            }
        }
        nav{color:red;
            ul.gnb{color:red;
                li{color:red;
                    a{color:red;

                    }
                    ul.gnbSub{color:red;
                        li{color:red;

                        }
                    }

                }
            }
        }
        ul.login{color:red;
            li{color:red;
                a{color:red;

                }
            }
        }
    }
}