#title{color:red;
    div.inner{color:red;
        div.timeBar{color:red;

        }
        h2{color:red;
            p{color:red;

            }
        }
        div.carouselButton{color:red;
            button{color:red;

            }
        }
    }
    a{color:red;

    }
    span{color:red;

    }
}