header {
position: fixed;
    top:0;
    left:0;
    width:100%;
border: 1px solid red;
}
header div.inner {
}
header div.inner div.top-box {
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}
header div.inner div.top-box a {
    font-size: 12px;
    display: flex;
    margin-left: 20px;
}
header div.inner div.top-box a::after {
    content:"";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../img/open.svg") no-repeat center/contain;
    display: flex;
}
header div.inner div {
    margin: 15px 0;
}
header div.inner div h1 {
    font-size: 40px;
}
header div.inner div h1 a {
    background: url("../img/logo-pc.png") no-repeat center/contain;
    color: transparent;
}
header div.inner div nav {
}s
header div.inner div nav ul {
}
header div.inner div nav ul li {
    margin: 0 25px;
}
header div.inner div nav ul li a {
    display: flex;
    position:relative;
}
header div.inner div nav ul li a::after {
    content:"";
    display: none;
    position: absolute;
    right: -6px;
    top:-6px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: red;
}
header div.inner div nav ul li:hover a {
    color:red;
}
header div.inner div nav ul li:hover a::after {
    display:block;
}
header div.inner div ul {
}
header div.inner div ul li {
    margin-left: 20px;
}
header div.inner div ul li select {
    width: 40px;
    background: transparent;
    border: none;
    appearance: none;
    background: url("../img/drop_down.svg") no-repeat right/contain;
}
header div.inner div ul li select option {
}
header div.inner div ul li span {
    display: block;
    width: 25px;
    height: 0px;
    border: 1px solid black;
    font-size: 0;
}
header div.inner div ul li span::before {
    content:"";
    display: block;
    width: 25px;
    height: 0px;
    border: 1px solid black;
    font-size: 0;
    transform: translateX(-1px) translateY(-9px);
}
header div.inner div ul li span::after {
    content: "";
    display: block;
    width: 25px;
    height: 0px;
    border: 1px solid black;
    font-size: 0;
    transform: translateX(-1px) translateY(6px);
}
header div.inner div ul li:hover span{
    border-color: red;
}
header div.inner div ul li:hover span::before{
    border-color: red;
}
header div.inner div ul li:hover span::after{
    border-color: red;
}
/* fixed-button */
#fixed-button {
    position: fixed;
    bottom:0;
    right:0;
}
#fixed-button a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
    text-align: center;
    line-height: 3;
    margin-top: 5px;
    box-shadow: 0 0 6px 0 rgba(125,125,125,0.2);
}
#fixed-button a:last-child {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #1b1b1b;
    color:white;
    text-align: center;
    line-height: 3;
    margin-top: 5px;
}
